### Predicting Profit Using ANN

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import keras
from keras.models import Sequential
from keras.layers import Dense
plt.style.use('seaborn')

In [5]:
# loading data
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
# data check for missing values
data.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [8]:
# check for duplicated records
data.duplicated().sum()

0

In [9]:
# check for zero values in input features
data.isin([0]).sum()

R&D Spend          2
Administration     0
Marketing Spend    3
State              0
Profit             0
dtype: int64

In [10]:
data['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [11]:
# split the data as X and y
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [12]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [13]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [14]:
# scaling the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X.iloc[:, :-1] = sc.fit_transform(X.iloc[:, :-1])
X.head()

   R&D Spend  Administration  Marketing Spend       State
0   2.016411        0.560753         2.153943    New York
1   1.955860        1.082807         1.923600  California
2   1.754364       -0.728257         1.626528     Florida
3   1.554784       -0.096365         1.422210    New York
4   1.504937       -1.079919         1.281528     Florida

In [15]:
# getting dummies 
X = pd.get_dummies(data= X, columns= ['State'], drop_first= True)
X.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   2.016411        0.560753         2.153943              0               1
1   1.955860        1.082807         1.923600              0               0
2   1.754364       -0.728257         1.626528              1               0
3   1.554784       -0.096365         1.422210              0               1
4   1.504937       -1.079919         1.281528              1               0

In [16]:
# train and test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

In [25]:
regressor = Sequential()
regressor.add(Dense(units = 8,kernel_initializer = 'normal', activation = 'relu', input_dim = 5))
regressor.add(Dense(units = 4,kernel_initializer = 'normal', activation = 'relu'))
regressor.add(Dense(units = 1, activation = 'linear'))
regressor.compile(loss = 'mean_squared_error', optimizer = 'adam')

In [26]:
regressor.fit(X_train, y_train, batch_size = 10, epochs = 50)

Epoch 1/50
40/40 [==============================] - 0s 6ms/step - loss: 14243702784.0000
Epoch 2/50
40/40 [==============================] - 0s 287us/step - loss: 14243701760.0000
Epoch 3/50
40/40 [==============================] - 0s 273us/step - loss: 14243699712.0000
Epoch 4/50
40/40 [==============================] - 0s 176us/step - loss: 14243698176.0000
Epoch 5/50
40/40 [==============================] - 0s 234us/step - loss: 14243695616.0000
Epoch 6/50
40/40 [==============================] - 0s 179us/step - loss: 14243694080.0000
Epoch 7/50
40/40 [==============================] - 0s 180us/step - loss: 14243691264.0000
Epoch 8/50
40/40 [==============================] - 0s 128us/step - loss: 14243688192.0000
Epoch 9/50
40/40 [==============================] - 0s 142us/step - loss: 14243686144.0000
Epoch 10/50
40/40 [==============================] - 0s 154us/step - loss: 14243683584.0000
Epoch 11/50
40/40 [==============================] - 0s 168us/step - loss: 14243681280.0000
Epoch 12/50
40/40 [==============================] - 0s 125us/step - loss: 14243677952.0000
Epoch 13/50
40/40 [==============================] - 0s 174us/step - loss: 14243674624.0000
Epoch 14/50
40/40 [==============================] - 0s 206us/step - loss: 14243671296.0000
Epoch 15/50
40/40 [==============================] - 0s 197us/step - loss: 14243666688.0000
Epoch 16/50
40/40 [==============================] - 0s 195us/step - loss: 14243663872.0000
Epoch 17/50
40/40 [==============================] - 0s 155us/step - loss: 14243658496.0000
Epoch 18/50
40/40 [==============================] - 0s 152us/step - loss: 14243653888.0000
Epoch 19/50
40/40 [==============================] - 0s 178us/step - loss: 14243648768.0000
Epoch 20/50
40/40 [==============================] - 0s 175us/step - loss: 14243642368.0000
Epoch 21/50
40/40 [==============================] - 0s 176us/step - loss: 14243637248.0000
Epoch 22/50
40/40 [==============================] - 0s 158us/step - loss: 14243630080.0000
Epoch 23/50
40/40 [==============================] - 0s 121us/step - loss: 14243623424.0000
Epoch 24/50
40/40 [==============================] - 0s 161us/step - loss: 14243616512.0000
Epoch 25/50
40/40 [==============================] - 0s 139us/step - loss: 14243608064.0000
Epoch 26/50
40/40 [==============================] - 0s 159us/step - loss: 14243598592.0000
Epoch 27/50
40/40 [==============================] - 0s 214us/step - loss: 14243590144.0000
Epoch 28/50
40/40 [==============================] - 0s 411us/step - loss: 14243579904.0000
Epoch 29/50
40/40 [==============================] - 0s 299us/step - loss: 14243568640.0000
Epoch 30/50
40/40 [==============================] - 0s 238us/step - loss: 14243556608.0000
Epoch 31/50
40/40 [==============================] - 0s 300us/step - loss: 14243544064.0000
Epoch 32/50
40/40 [==============================] - 0s 265us/step - loss: 14243530496.0000
Epoch 33/50
40/40 [==============================] - 0s 241us/step - loss: 14243518208.0000
Epoch 34/50
40/40 [==============================] - 0s 176us/step - loss: 14243502336.0000
Epoch 35/50
40/40 [==============================] - 0s 259us/step - loss: 14243487744.0000
Epoch 36/50
40/40 [==============================] - 0s 121us/step - loss: 14243470592.0000
Epoch 37/50
40/40 [==============================] - 0s 280us/step - loss: 14243454976.0000
Epoch 38/50
40/40 [==============================] - 0s 186us/step - loss: 14243436032.0000
Epoch 39/50
40/40 [==============================] - 0s 202us/step - loss: 14243416832.0000
Epoch 40/50
40/40 [==============================] - 0s 205us/step - loss: 14243396864.0000
Epoch 41/50
40/40 [==============================] - 0s 209us/step - loss: 14243376640.0000
Epoch 42/50
40/40 [==============================] - 0s 210us/step - loss: 14243353344.0000
Epoch 43/50
40/40 [==============================] - 0s 95us/step - loss: 14243331328.0000
Epoch 44/50
40/40 [==============================] - 0s 190us/step - loss: 14243306496.0000
Epoch 45/50
40/40 [==============================] - 0s 151us/step - loss: 14243283456.0000
Epoch 46/50
40/40 [==============================] - 0s 242us/step - loss: 14243255296.0000
Epoch 47/50
40/40 [==============================] - 0s 177us/step - loss: 14243230720.0000
Epoch 48/50
40/40 [==============================] - 0s 194us/step - loss: 14243201536.0000
Epoch 49/50
40/40 [==============================] - 0s 218us/step - loss: 14243170304.0000
Epoch 50/50
40/40 [==============================] - 0s 190us/step - loss: 14243137280.0000

In [27]:
y_pred = regressor.predict(X_test)

In [28]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print('mse {}'.format(mean_absolute_error(y_test, y_pred)), '\n')
print('rmse {}'.format(np.sqrt(mean_absolute_error(y_test, y_pred))))

mse 109111.0985074663

rmse 330.31969137105085

In [22]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
y_pred_lr = lr.predict(X_test)

In [24]:
print('mse {}'.format(mean_absolute_error(y_test, y_pred_lr)), '\n')
print('rmse {}'.format(np.sqrt(mean_absolute_error(y_test, y_pred_lr))))

mse 2969.052767737901

rmse 54.48901511073494